.comment-section {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #f2f2f2;
  color: black;
}

.comment-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.comment-left {
  margin-right: 15px;

  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #000;
  }
}

.comment-right {
  flex: 1;

  .username {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }

  .comment-text {
    font-size: 13px;
    margin: 3px 0 8px 0;
  }

  .divider {
    height: 2px;
    background-color: #000;
    width: 100%;
  }
}