*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(113, 242, 113);
}
.panel{
    height: 90%;
    width: 90%;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
}
.ptop{
    padding: 0 100px;
    height: 80px;
    width: 100%;
    background-color: rgb(32, 153, 32);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.elem{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box{
    background-color: #fff;
    padding: 8px 15px;
    color: rgb(53, 134, 53);
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 5px;
}

.elem h2{
    font-size: 1.8rem;
    font-weight: 700;
}

.pbtm{
    padding: 15px;
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}
    
.bubble{
    height: 45px;
    width: 45px;
    background-color: rgb(53, 134, 53);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 18x;
    cursor: pointer;
}

.bubble:hover{
    background-color: rgb(26, 77, 26);
}