* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background: #000;
  padding: 20px;
  display: flex;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background: white;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
}

.card img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.card h1 {
  white-space: nowrap;
  padding-top: 10px;
}
.card h2 {
  white-space: nowrap;
  padding-top: 7px;
  color: blueviolet;
}

.card p {
  padding-top: 12px;
}
