* {
  margin: 0;
  color: white;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .all-reel {
    height: 680px;
    width: 400px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .all-reel::-webkit-scrollbar {
      display: none;
    }

    .reel {
      height: 100%;
      width: 100%;
      position: relative;
      scroll-snap-align: start;

      video {
        border-radius: 25px;
        height: 100%;
        width: 100%;
      }
      .bottom {
        height: 100px;
        width: 400px;
        position: absolute;
        bottom: 0;
        padding: 0 20px;

        .user {
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: flex-start;
          padding-left: 10px;

          img {
            height: 30px;
            width: 30px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
          }

          h2 {
            font-size: 20px;
            font-weight: 500;
          }

          button {
            background-color: transparent;
            padding: 5px 5px;
            border-radius: 8px;
            border: 1px solid white;
            cursor: pointer;
          }
        }
        h4 {
          padding: 15px 0 0 10px;
          font-weight: 500;
        }
      }
      .right {
        height: 400px;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-130%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;

        h2 {
          font-size: 15px;
          font-weight: 500;
        }

        .share {
          padding-top: 5px;
        }
        .like {
          cursor: pointer;

          .svg {
            pointer-events: none;
          }
          h2 {
            pointer-events: none;
          }
        }
      }
    }
  }
}
