* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/16933.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
