* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background-color: #000;
  color: white;
}

#root {
  min-height: 100vh;
}

/* Lenis ke liye recommended defaults */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}